<a
  *ngIf="permissionState?.sales_invoice?.create"
  data-tooltip="Add Sales Invoice"
  class="add_button tooltip"
  [routerLink]="['/sales/add-sales-invoice', 'add']"
  target="_new"
>
  <ion-icon name="add-circle-outline"></ion-icon> &nbsp;
  <span class="sm_hide_text">Add Sales Invoice</span>
</a>
