.add-comment {
  opacity: 0.4;
}

.fab-position {
  position: absolute;
  top: 12px;
  right: -5px;
  height: 48px !important ;
  width: 47px !important;
}

.footer {
  font-weight: bold;
}

.mat-column-delete {
  flex: 0 0 5%;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}

mat-footer-cell {
  display: flex;
  justify-content: center;
}

mat-header-row {
  display: flex;
  justify-content: center;
}
mat-footer-row {
  display: flex;
  justify-content: center;
}

mat-cell {
  display: flex;
  justify-content: center;
}
.example-container{
 height: 40vh;
}

@media screen and (min-width: 768px) and (max-width: 1024px)  {
  .fab-position {
  position: absolute;
  top: 17px;
  right: 3px;
}
}
ion-card-header+.card-content-md {
  padding-top: 0;
  padding: 0 !important;
}