.add-comment {
  opacity: 0.4;
}

.fab-position {
  position: absolute;
  top: 13px;
  right: 10px;
  height: 48px !important ;
  width: 47px !important;
}

.footer {
  font-weight: bold;
}

.mat-column-delete {
  flex: 0 0 5%;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}

mat-footer-cell {
  display: flex;
  justify-content: center;
}

mat-header-row {
  display: flex;
  justify-content: center;
}
mat-footer-row {
  display: flex;
  justify-content: center;
}

mat-cell {
  display: flex;
  justify-content: center;
}
#add_claim_btn {
  background: #96b0d6;
}
.example-container {
  height: 40vh;
}

@media (max-width: 768px) {
  .sm {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .fab-position {
    position: absolute;
    top: 5px;
    right: 9px;
  }
  .ion-grid-class-for-layout .align {
    gap: 10px;
    justify-content: space-between;
  }

  .ion-grid-class-for-layout .ion-col {
    width: 48%; /* Two columns, each taking 48% of the container width */
  }
}
