.search-models {
  padding: 0em 1em 0em 1em;
}

.mat-column-delete {
  flex: 0 0 5%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

mat-header-cell {
  flex-wrap: nowrap;
  min-width: 200px;
}

// MD ACHEM
.mat-table thead,
mat-header-row,
[mat-header-row],
.mat-table-sticky {
  background-color: #2d62ae;
  margin-top: 0px !important;
}

#stockBalanceFilter {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: ease-in-out 0.5s;
  &.active {
    height: auto;
  }
}

#StockClose{
  display: none;
}
@media (max-width: 768px) {
  .sm_flex_button1{
    margin-right: 10px !important;
    
   }
   
}