::-ms-browse {
  background: #633ce0;
  color: #ffffff;
  border: 1px solid #633ce0;
  padding: 10px;
  border-radius: 15px;
}
::-webkit-file-upload-button {
  background: #633ce0;
  color: #ffffff;
  border: 1px solid #633ce0;
  padding: 10px;
  border-radius: 15px;
}

td {
  text-align: left;
}

tr.mat-mdc-footer-row {
  font-weight: bold;
}

.mat-mdc-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.transform {
  transform: translateY(10px);
}

.add-comment {
  opacity: 0.4;
}

.mat-column-clear {
  flex: 0 0 5%;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}

mat-header-row {
  display: flex;
  justify-content: center;
}

mat-cell {
  display: flex;
  justify-content: center;
}
.test {
  color: red;
}

textarea {
  height: 76px;
}

.table-text-align-center {
  text-align: center;
}

input {
  border: none;
  background-color: transparent;
  outline: none !important;
}

.clear_button {
  padding: 10px 15px;
  background-color: var(--ion-color-primary);
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.clear_button:active {
  transform: scale(0.9);
}
input[type='file'] {
  margin-top: 10px !important;
  height: 33px !important;
}
.example-container {
  height: auto !important;
}

::-webkit-scrollbar {
  width: 5px;
}
