/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Import Ubuntu Font From Google
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
  font-family: 'Ubuntu', sans-serif !important;
}
::-webkit-scrollbar {
  /* Your scrollbar styling rules here */
  background-color: #f39b1f;
  border: 1px solid transparent;
}
body::-webkit-scrollbar {
  // display: none;
}
.pop-over-style {
  .popover-content {
    //width: 80% !important; - this wont work or the bottom one.
    --width: 300px !important;
  }
}
// width popover

.material-icons {
  font-family: 'Material Icons' !important;
}

.sc-ion-card-md-h {
  background: white;
}
:host {
  font-size: 18px !important;
  box-shadow: none !important;
}
ion-button {
  font-size: 11px !important;
}

mat-header-row {
  min-height: 45px !important;
}
.mat-mdc-select {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(
    --mdc-typography-body1-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  font-size: var(--mdc-typography-body1-font-size, 14px) !important;
  line-height: var(--mdc-typography-body1-line-height, 24px);
  font-weight: var(--mdc-typography-body1-font-weight, 400);
  letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em);
  -webkit-text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-transform: var(--mdc-typography-body1-text-transform, none);
}

.mat-mdc-form-field,
.mat-mdc-floating-label {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(
    --mdc-typography-body1-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  /* font-size: var(--mdc-typography-body1-font-size, 16px); */
  font-size: 14px;
  line-height: var(--mdc-typography-body1-line-height, 24px);
  font-weight: var(--mdc-typography-body1-font-weight, 400);
  letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em);
  -webkit-text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-transform: var(--mdc-typography-body1-text-transform, none);
}

.page-background {
  --background: var(--ion-color-light);
  padding: 0;
  height: 100%;
}

.align {
  align-items: center;
  vertical-align: middle;
}

.name {
  font-size: 1.1rem;
  text-transform: capitalize;
}

.avatar {
  margin-left: 20%;
  width: 60%;
  height: 60%;
}

.header-row {
  font-weight: bold;
}

.split-pane-visible > .split-pane-side {
  min-width: 260px !important;
  max-width: 260px !important;
}

.mat-input-wrapper {
  box-sizing: border-box !important;
  width: 100% !important;
}

.full-width {
  box-sizing: border-box;
  width: 100%;
}

.mat-mdc-row:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.mat-mdc-tooltip.tooltip {
  font-size: 1.2rem;
}

.disable-scrollbars::-webkit-scrollbar {
  display: none;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.active {
  background-color: white;
  color: var(--ion-color-primary) !important;
  ion-icon {
    color: var(--ion-color-primary) !important;
  }
  --color-hover: var(--ion-color-primary) !important;
}

.mat-mdc-header-cell.text-center {
  text-align: center;
}

.cancel {
  color: var(--ion-color-danger) !important;
}

::-webkit-scrollbar {
  width: 5px;

  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #f39b1f;
  border: 1px solid transparent;
  background-clip: content-box;
}

.mdc-data-table__table {
  // min-width: 100%;
  border: 0;
  // white-space: nowrap !important;
  border-spacing: 0;
  table-layout: fixed;
  font-size: 14px !important;
}

.example-container {
  display: block;
  width: 100%;
  overflow: auto;
  height: 77vh;

  .mat-mdc-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;

    mat-header-row.mat-mdc-header-row,
    mat-row.mat-mdc-row,
    mat-footer-row.mat-mdc-footer-cell {
      height: 45px;
    }
  }

  .mat-mdc-row,
  .mat-mdc-header-row,
  .mat-mdc-footer-row {
    display: table-row;
    height: 40px;
  }

  .mat-mdc-cell,
  .mat-mdc-header-cell,
  .mat-mdc-footer-cell {
    word-wrap: initial;
    display: table-cell;
    line-break: unset;
    width: auto;
    overflow: hidden;
    vertical-align: middle;
  }

  [class*='mat-column-'] {
    flex: 0 0 9% !important;
    // min-width: 150px !important;
  }

  .mat-column-sr_no {
    flex: 0 0 5% !important;
    min-width: 60px !important;
  }
}

.mat-mdc-form-field {
  color: black;
}

.pr-10px {
  padding-right: 10px;
}

ion-card {
  border: 1px solid #ddd;
}

.mat-table thead,
mat-header-row,
[mat-header-row] {
  background-color: var(--ion-color-primary) !important;

  mat-header-cell,
  th {
    font-size: 14px !important;
    color: #fff !important;
    text-transform: capitalize;
  }
}
.btn_flex_end {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: 'red';
}
mat-header-cell {
  color: white !important;
}

mat-footer-cell {
  color: var(--ion-color-primary) !important;
}
.mdc-data-table__cell {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(
    --mdc-typography-body2-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  font-size: 13px !important;
  line-height: var(--mdc-typography-body2-line-height, 20px);
  font-weight: var(--mdc-typography-body2-font-weight, 400);
  letter-spacing: var(--mdc-typography-body2-letter-spacing, 0.0178571429em);
  -webkit-text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
  text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
  text-transform: var(--mdc-typography-body2-text-transform, none);
}
.flex {
  display: flex;
  align-items: center;
}

.add_button {
  background-color: var(--ion-color-primary) !important;
  --ion-color-base: var(--ion-color-primary) !important;
  border-radius: 5px;
}

a.add_button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 9px 14px;
  font-size: 13.7px;
  font-weight: 500;
  ion-icon {
    font-size: 17px;
  }
}

.filter_button {
  margin-left: 10px;
  display: flex;
  align-items: center;
  background-color: var(--ion-color-primary);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;

  mat-icon {
    font-size: 18px;
  }
}

a {
  color: var(--ion-color-primary);
}

.ion-button {
  font-size: 13 !important;
}

.secoundary {
  color: #f39b1f;
}

.primary {
  color: var(--ion-color-primary);
}

.button-native {
  font-size: 13px !important;
}

input[type='checkbox'] {
  background-color: var(--ion-color-primary) !important;
}

.mat-mdc-form-field-infix {
  display: flex;
  padding: 10px !important;
}

// Pagenation
.mat-mdc-paginator-container {
  justify-content: space-between !important;
  border-top: 1px solid #ddd;
}

.mat-mdc-paginator-page-size.ng-star-inserted {
  width: 45%;
}

.mat-mdc-paginator-range-actions {
  width: 54%;
}

.mat-mdc-paginator-range-label {
  width: 90%;
}

.mat-mdc-form-field-flex.ng-tns-c164-7 {
  border-radius: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
  height: 39px !important;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

.mat-mdc-text-field-wrapper {
  background-color: transparent !important;
  padding: 0 !important;
  outline: none !important;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

input,
mat-date-range-input,
select,
textarea {
  margin-top: 10px !important ;
}

input[type='file'] {
  margin-top: 10px !important;
}

input.native-input.sc-ion-input-md {
  margin-top: 0 !important;
}
ion-card {
  border: 1px solid #ddd;
}

.mat-mdc-select {
  margin-top: 10px;
}

.mat-date-range-input-container input {
  margin-top: 0 !important ;
}

.mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
  transform: translateY(0) !important;
}

mat-cell.mat-mdc-cell.mdc-data-table__cell.cdk-cell.right-aligned.right-padding.cdk-column-total.mat-column-total.ng-star-inserted {
  padding-right: 38px;
}

.mat-mdc-form-field-infix {
  padding-bottom: 0 !important;
  min-height: 48px !important;
}

.mat-mdc-table .mat-mdc-row:hover,
.mat-mdc-table .mat-mdc-footer-row:hover {
  background-color: #6ca9ff0a !important;
}

.mdc-notched-outline {
  display: none !important;
}

mat-row.mat-mdc-row.mdc-data-table__row.cdk-row.ng-star-inserted input {
  border: none;
  background-color: transparent;
  outline: none;
}

// Add Sales Invoice Item Css
span.mdc-list-item__primary-text {
  font-size: 14px !important;
}

.mat-mdc-option {
  min-height: 35px !important;
}
.margin-b {
  margin-bottom: 10px !important;
}
.mat-mdc-form-field-infix {
  padding-bottom: 0 !important;
  min-height: 45px !important;
}

// dialog box
.dialog-box {
  padding: 20px;
}
.dialog-padding {
  padding: 5px;
}
// Responsive Css
@media only screen and (max-width: 1283px) {
  .ion-text-right.md.hydrated {
    display: flex;
    justify-content: end;
  }
}

@media only screen and (max-width: 1040px) {
  .ion-color.ion-color-tertiary.md.button.button-outline.ion-activatable.ion-focusable.hydrated {
    padding: 4px 0px !important;
    font-size: 13px;
  }

  .add_button a.button-native {
    padding: 0px !important;
    font-size: 13px;
  }
}

// responsive
/* Font size for Mobile (max-width: 767px) */
@media only screen and (max-width: 767px) {
  .ion-button {
    padding: 20px !important;
    background-color: red;
  }
  ion-content {
    font-size: 10px !important;
  }
  .add_button {
    background-color: var(--ion-color-primary) !important;
    --ion-color-base: var(--ion-color-primary) !important;
    padding: 13px !important;
  }

  .name {
    font-size: 1.2rem !important;
  }
  .add_button:hover {
    background-color: var(--ion-color-primary) !important;
    --ion-color-base: var(--ion-color-primary) !important;
  }
  .sm_hide_text {
    display: none;
  }
  .md-title {
    text-align: start;
  }
  .sm-name {
    font-size: 10px;
  }
  :root {
    font-size: 10px;
  }
  .home_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
  }
  // .sm_button{
  //   padding-inline-start: 0px !important;
  //   padding-inline-end: 0px;
  // }
  :host {
    --padding-end: 0em;
  }
  .sm-left {
    width: 100%;

    display: flex;
    justify-content: space-between;
  }
  .sm_flex_button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }
  .disable-click {
    pointer-events: none;
  }
  .title {
    font-size: 16px !important;
    margin-left: -20px;
  }
  .title_header {
    font-size: 17px !important;
  }
  // tooltip
  .tooltip {
    position: relative; /* Ensure tooltip position relative to this element */
    cursor: pointer; /* Show pointer cursor when hovering */
  }

  .tooltip::before {
    content: attr(
      data-tooltip
    ); /* Take the tooltip text from the data-tooltip attribute */
    position: absolute;
    top: 0%;
    right: 25px;
    transform: translateX(-50%);
    padding: 5px;
    background-color: var(--ion-color-primary);
    color: white;
    outline-color: var(--ion-color-primary);
    border-radius: 4px;
    font-size: 10px;
    white-space: nowrap;
    visibility: hidden; /* Hide the tooltip by default */
    opacity: 0; /* Fade-in animation effect */
    transition: visibility 0s, opacity 0.3s ease-in-out;
    z-index: 30 !important;
  }

  .tooltip:hover::before {
    visibility: visible; /* Show the tooltip on hover */
    opacity: 1;
    z-index: 30;
  }

  // Pagenation
  .mat-mdc-paginator-page-size.ng-star-inserted {
    width: 80%;
  }
  .mat-mdc-paginator-range-label {
    margin: 0px !important;
  }

  .mat-mdc-paginator-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
  }
  .mat-mdc-paginator-page-size {
    display: flex;
    align-items: center !important;
    margin-right: 8px;
  }

  .mat-mdc-paginator-range-actions {
    width: 100% !important;
  }
  .mat-mdc-paginator-page-size-label {
    margin: 0 4px;
    display: none;
  }
  .padding_less {
    padding: 0px !important;
  }
  button.button-native {
    padding: 0 !important;
    padding-inline-start: 0px !important;
    padding-inline-end: 0px !important;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
  }
  // container
  .sm_example-container {
    display: block;
    width: 100%;
    overflow: auto;
    height: 30vh;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #f39b1f;
      border: 1px solid transparent;
      background-clip: content-box;
    }

    .mat-mdc-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;

      mat-header-row.mat-mdc-header-row,
      mat-row.mat-mdc-row,
      mat-footer-row.mat-mdc-footer-cell {
        height: 45px;
      }
    }

    .mat-mdc-row,
    .mat-mdc-header-row,
    .mat-mdc-footer-row {
      display: table-row;
      height: 40px;
    }

    .mat-mdc-cell,
    .mat-mdc-header-cell,
    .mat-mdc-footer-cell {
      word-wrap: initial;
      display: table-cell;
      line-break: unset;
      width: auto;
      overflow: hidden;
      vertical-align: middle;
    }

    [class*='mat-column-'] {
      flex: 0 0 9% !important;
      min-width: 150px !important;
    }

    .mat-column-sr_no {
      flex: 0 0 5% !important;
      min-width: 60px !important;
    }
  }
}

// mat-selection
.mat-mdc-option {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0;
  font-size: 13px;
  padding-left: 16px;
  padding-right: 16px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  min-height: 48px;
  margin: 10px !important;
  border-bottom: 1px groove;
}
.mat-mdc-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
  height: 45px !important;
}

/* Font size for Tablets (min-width: 768px) and (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  // Pagenation
  .mat-mdc-paginator-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
  }
  .mat-mdc-paginator-page-size {
    display: flex;
    align-items: center !important;
    margin-right: 8px;
  }
  .mat-mdc-select {
  }
  .mat-mdc-paginator-range-actions {
    width: 100% !important;
  }
  .sm_hide_text {
    display: block;
  }
  ion-content {
    font-size: 16px !important;
  }

  .name {
    font-size: 1.4rem !important;
  }
  .disable-click {
    pointer-events: none;
  }
  .md-title {
    text-align: start;
  }
  .sm-left {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
  }
  .example-container {
    height: 74vh;
  }
  input,
  mat-date-range-input,
  select,
  textarea {
    margin-top: 10px !important ;
    opacity: 1;
  }
  ion-label {
    opacity: 1;
  }
  /* Add more specific styles for tablets as needed */
}

/* Additional styles for larger screens (beyond tablets) */
@media (min-width: 1025px) {
  /* Add styles for larger screens if needed */
}

// // DELETE
// .fab-position {
//   position: absolute;
//   top: 5px !important;
//   right: 0 !important;
//   height: 48px !important ;
//   width: 47px !important;
// }
