<div *ngIf="remaining > 0" style="margin-top: 15px">
  <ion-grid class="ion-no-padding">
    <ion-row style="gap: 9px">
      <ion-col sizeLg="3.92" sizeMd="5.9" class="ion-text-left">
        <input
      
          #csvFileInput
          type="file"
          id="txtFileUpload"
          (change)="fileChangedEvent($event)"
          accept=".csv"
        />
      </ion-col>
      <ion-col sizeLg="3.92" sizeMd="5.9">
        <mat-form-field class="full-width">
          <mat-label>From Range</mat-label>
          <input
            matInput
            oninput="this.value = this.value.toUpperCase()"
            placeholder="From Range"
            type="text"
            name="From Range"
            [(ngModel)]="rangePickerState.fromRange"
            (ngModelChange)="this.fromRangeUpdate.next($event)"
            required
          />
        </mat-form-field>
      </ion-col>
      <ion-col >
        <mat-form-field class="full-width">
          <mat-label>To Range</mat-label>
          <input
            type="text"
            oninput="this.value = this.value.toUpperCase()"
            matInput
            placeholder="To Range"
            type="string"
            name="To Range"
            [(ngModel)]="rangePickerState.toRange"
            (ngModelChange)="this.toRangeUpdate.next($event)"
          />
        </mat-form-field>
      </ion-col>
      <ion-col >
        <ion-text color="primary">
          <h3 style="margin-top: 30px">
            Total : {{ rangePickerState.serials.length }}
          </h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
