<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title"> Brand Limit Ledger </ion-title>
      </div>
      <div style="display: flex; gap: 5px; margin-right: 23px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          target="_new"
          color="red"
          data-tooltip="Stock Availability"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<div class="loading-shade" *ngIf="dataSource.loading$ | async">
  <mat-progress-bar
    *ngIf="dataSource.loading$ | async"
    mode="indeterminate"
  ></mat-progress-bar>
</div>

<ion-content color="light">
  <ion-card>
    <form [formGroup]="brandWiseCreditLimitForm">
      <ion-card-header>
        <mat-grid-list
          cols="25"
          rowHeight="45"
          (window:resize)="onResize($event)"
          gutterSize="5px"
        >
          <mat-grid-tile
            [colspan]="firstColumn"
            style="display: flex; align-items: center"
          >
            <ion-card-title class="flex">
              <ion-text color="primary"> Ledger </ion-text>
              <!-- Filtar Button -->
            </ion-card-title>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="inputColumn">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Customer</mat-label>
              <input
                matInput
                placeholder="Customer name"
                [matAutocomplete]="auto"
                formControlName="customer"
                (focusout)="validateInput(f.customer, filteredCustomerList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #auto="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredCustomerList"
                  [value]="option.customer_name"
                >
                  {{ option.customer_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.customer.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{ f.customer.value }}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="inputColumn">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Brand</mat-label>
              <input
                matInput
                placeholder="Brand"
                [matAutocomplete]="auto2"
                formControlName="brand"
                (focusout)="validateInput(f.brand, filteredBrandList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #auto2="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredBrandList"
                  [value]="option.name"
                >
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.brand.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{ f.territory.value }}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="inputColumn">
            <mat-form-field class="full-width">
              <mat-label>Doc ID</mat-label>
              <input
                matInput
                placeholder="Doc ID"
                formControlName="doc_id"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="inputColumn">
            <mat-form-field appearance="fill" class="mat-input-wrapper">
              <mat-label> Enter a date range </mat-label>
              <mat-date-range-input
                [formGroup]="brandWiseCreditLimitForm"
                [rangePicker]="picker"
              >
                <input
                  matStartDate
                  formControlName="start_date"
                  placeholder="Start date"
                />
                <input
                  matEndDate
                  formControlName="end_date"
                  placeholder="End date"
                  (dateChange)="setFilter()"
                />
              </mat-date-range-input>

              <mat-datepicker-toggle matSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-date-range-picker #picker> </mat-date-range-picker>
              <mat-error *ngIf="f.start_date.hasError('matStartDateInvalid')">
                Invalid start date
              </mat-error>
              <mat-error *ngIf="f.end_date.hasError('matEndDateInvalid')">
                Invalid end date
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="btnColumn" class="sm_left padding_less">
            <div style="width: 100%; display: flex; justify-content: flex-end">
              <ion-button
                data-tooltip="Clear"
                class="tooltip"
                fill="outline"
                (click)="clearFilters()"
              >
                <ion-icon name="close-outline"></ion-icon> &nbsp;
                <span class="sm_hide_text">Clear</span>
              </ion-button>

              <ion-button
                class="tooltip"
                data-tooltip="Download"
                [disabled]="!dataSource.length"
                (click)="downloadCreditLimits()"
                fill="outline"
              >
                <ion-icon name="cloud-download-outline"></ion-icon> &nbsp;
                <span class="sm_hide_text">Download CSV</span>
              </ion-button>

              <ion-button
                data-tooltip="Search"
                class="tooltip"
                fill="outline"
                (click)="setFilter()"
              >
                <ion-icon name="search-outline"></ion-icon> &nbsp;
                <span class="sm_hide_text">Search</span>
              </ion-button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </ion-card-header>
      <ion-card-content class="ion-no-padding">
        <div class="example-container mat-elevation-z8" id="CustomersTable">
          <table mat-table class="full-width" [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="sr_no">
              <mat-header-cell *matHeaderCellDef> SL </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index">
                {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="created_at">
              <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.created_at | date: 'dd/MM/yyyy' }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="brand_id">
              <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.brand_id }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actual_qty">
              <mat-header-cell *matHeaderCellDef>
                Transactions
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.actual_qty | curFormat | async }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="balance_qty">
              <mat-header-cell *matHeaderCellDef>
                Remaining Limit
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.balance_qty | curFormat | async }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="doc_type">
              <mat-header-cell *matHeaderCellDef> Doc Type </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.doc_type }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="doc_id">
              <mat-header-cell *matHeaderCellDef> Doc ID </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.doc_id }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="modified_by">
              <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.modified_by }} </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </table>
        </div>
        <mat-card-actions>
          <mat-paginator
            #paginator
            class="mat-paginator-sticky"
            (page)="getUpdate($event)"
            [length]="dataSource.length"
            [pageSizeOptions]="[30, 50, 100, 500]"
          >
          </mat-paginator>
        </mat-card-actions>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
