<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title">Add Sales Return</ion-title>
      </div>
      <div style="display: flex; gap: 5px; margin-right: 23px">
        <a
          data-tooltip="Add Sales Invoice"
          color="tertiary"
          class="add_button tooltip"
          [routerLink]="['/sales/add-sales-invoice', 'add']"
          target="_new"
        >
          <ion-icon name="add-circle-outline"></ion-icon> &nbsp;
          <span class="sm_hide_text">Add Sales Invoice</span>
        </a>
        <a
          data-tooltip="Stock Availability"
          target="_new"
          color="red"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-fab
    class="ion-margin-end"
    slot="fixed"
    vertical="top"
    color="light"
    horizontal="end"
  >
    <ion-fab-button
      class="fab-position"
      [disabled]="submitting"
      (click)="submitSalesReturn()"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-text color="tertiary"> Details </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row class="align" style="gap: 5px">
          <ion-col sizeLg="4" sizeMd="5.9">
            <mat-form-field class="full-width">
              <mat-label>Naming Series</mat-label>
              <input
                matInput
                readonly
                value="RINV-####"
                placeholder="Naming Series"
              />
            </mat-form-field>
          </ion-col>
          <ion-col sizeLg="4" sizeMd="5.9">
            <mat-form-field class="full-width">
              <mat-label>Company</mat-label>
              <input
                matInput
                placeholder="Company"
                readonly
                [formControl]="companyFormControl"
              />
            </mat-form-field>
          </ion-col>
          <ion-col sizeLg="3.9" sizeMd="5.9">
            <mat-form-field class="full-width">
              <mat-label>Customer</mat-label>
              <input
                matInput
                type="text"
                placeholder="Customer"
                readonly
                [formControl]="customerFormControl"
              />
            </mat-form-field>
          </ion-col>
          <!-- </ion-row>

        <ion-row class="align" style="gap: 10px"> -->
          <ion-col sizeLg="4" sizeMd="5.9">
            <mat-form-field class="full-width">
              <mat-label>Sales Return Date</mat-label>
              <input
                matInput
                [matDatepicker]="postingDate"
                placeholder="Posting Date"
                readonly
                [min]="minPostingDate"
                [formControl]="postingDateFormControl"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="postingDate"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #postingDate
                [disabled]="!allowBackDatedInvoices"
              ></mat-datepicker>
              <mat-datepicker #postingDate disabled="false"></mat-datepicker>
            </mat-form-field>
          </ion-col>
          <ion-col sizeLg="4" sizeMd="5.9">
            <mat-form-field class="full-width">
              <mat-label>Branch</mat-label>
              <input
                matInput
                placeholder="Branch"
                readonly
                [formControl]="branchFormControl"
              />
            </mat-form-field>
          </ion-col>
          <ion-col sizeLg="3.9" sizeMd="5.9">
            <mat-form-field class="full-width">
              <mat-label>Warehouse</mat-label>
              <input
                type="text"
                placeholder="Select Warehouse"
                matInput
                [formControl]="warehouseFormControl"
                (focusout)="validateInput(warehouseFormControl, filteredWarehouseList)"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #auto="matAutocomplete"
                [displayWith]="getOptionText"
              >
                <mat-option
                  *ngFor="let option of filteredWarehouseList"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="warehouseFormControl.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{warehouseFormControl.value}}'</strong> is not
                allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row class="align" style="gap: 5px; margin-top: 7px">
          <ion-col sizeLg="4" size="12" sizeMd="5.9">
            <mat-form-field class="full-width">
              <mat-label>Remarks</mat-label>
              <textarea matInput [formControl]="remarks" rows="1"></textarea>
            </mat-form-field>
          </ion-col>
          <ion-col sizeLg="4" sizeMd="4" class="ion-text-left">
            <input
              style="padding: 2px"
              #csvFileInput
              type="file"
              id="txtFileUpload"
              (change)="fileChangedEvent($event)"
              accept=".csv"
            />
          </ion-col>
          <!-- new delivery note -->

          <ion-col sizeLg="3.9" size="12" sizeMd="3.9" class="ion-text-right">
            <mat-form-field class="full-width">
              <mat-label>Delivery Note</mat-label>
              <input
                type="text"
                placeholder="Delivery Note"
                matInput
                [formControl]="deliveryNoteControl"
                [matAutocomplete]="note"
                (focusout)="validateInput(deliveryNoteControl, filteredDeliveryNoteOptions)"
                (ngModelChange)="onDeliveryNoteSelected($event)"
              />
              <mat-autocomplete autoActiveFirstOption #note="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredDeliveryNoteOptions"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!-- first modal -->
  <ion-modal
    backdropDismiss="false"
    style="--width: 50%; --height: 30%; --border-radius: 5px"
    cssClass=""
    [isOpen]="isFirstModalOpen"
  >
    <ng-template style="padding-left: 200px">
      <ion-header>
        <ion-toolbar>
          <ion-title style="color: var(--ion-color-primary)"
            >Sales Return Create Instruction</ion-title
          >
          <ion-buttons slot="end">
            <ion-button
              style="
                background-color: var(--ion-color-primary);
                color: #ffffff;
                border-radius: 5px;
              "
              (click)="setFirstOpen(false)"
            >
              <ion-icon name="close-circle-outline"></ion-icon> &nbsp;
              Close</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" style="height: 30">
        <p style="color: #444040; line-height: 25px">
          Please select a Delivery Note first then create a return against that.
          Please make sure the items and qty that you want to return are
          available in the Delivery Note you select. If required, create returns
          against multiple Delivery Note.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
  <div>
    <ion-modal
      backdropDismiss="false"
      style="--width: 80%; --height: 65%; --border-radius: 5px"
      [isOpen]="isModalOpen"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title style="color: var(--ion-color-primary)"
              >Delivery Note Items</ion-title
            >
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p style="color: var(--ion-color-primary)">
            Delivery Note No : {{selectedDeliveryNote.name}}
          </p>
          <!-- <p>{{selectedDeliveryNote.total_qty}}</p>
        <button (click)="showNote()">show</button> -->
          <div style="margin-right: 3px !important">
            <ion-card-content
              class="example-container mat-elevation-z8 ion-no-padding"
              style="height: 40vh !important; border-radius: 5px"
            >
              <table #table style="width: 100%; border-radius: 20px">
                <tr>
                  <th>Item Code</th>
                  <th>Item Name</th>
                  <th>Quantity</th>
                </tr>
                <tr *ngFor=" let i of deliveryData">
                  <td>{{i.item_code}}</td>
                  <td>{{i.item_name}}</td>
                  <td>{{i.qty}}</td>
                </tr>
              </table>
            </ion-card-content>
          </div>

          <div
            style="
              display: flex;
              justify-content: center;
              margin-top: 40px;
              gap: 10px;
            "
          >
            <ion-button (click)="setOpen(false)">
              <ion-icon name="add-circle-outline"></ion-icon> &nbsp; Create
              Return</ion-button
            >
            <ion-button (click)="resetDeliveryNote()">
              <ion-icon name="close-circle-outline"></ion-icon> &nbsp; Change
              Delivery Note
            </ion-button>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-text color="tertiary"> Serial Range </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" sizeMd="5">
            <mat-form-field class="full-width">
              <mat-label>From Range</mat-label>
              <input
                oninput="this.value = this.value.toUpperCase()"
                matInput
                placeholder="From Range"
                type="text"
                name="From Range"
                [(ngModel)]="rangePickerState.fromRange"
                (ngModelChange)="this.fromRangeUpdate.next($event)"
                required
              />
            </mat-form-field>
          </ion-col>
          <ion-col size="12" sizeMd="2">
            <ion-text color="primary">
              <h3 style="padding-left: 5px">
                Total : {{ rangePickerState.serials.length }}
              </h3>
            </ion-text>
          </ion-col>
          <ion-col sizeMd="5">
            <mat-form-field class="full-width">
              <mat-label>To Range</mat-label>
              <input
                type="text"
                oninput="this.value = this.value.toUpperCase()"
                matInput
                placeholder="To Range"
                type="string"
                name="To Range"
                [(ngModel)]="rangePickerState.toRange"
                (ngModelChange)="this.toRangeUpdate.next($event)"
              />
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-text color="tertiary"> Products </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <mat-table
        class="sm_example-container"
        #table
        [dataSource]="itemDataSource"
        style="width: 100%"
      >
        <ng-container matColumnDef="salesWarrantyMonths">
          <mat-header-cell *matHeaderCellDef
            >Warranty In Months</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            <ng-container> {{ row.salesWarrantyMonths }} </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="item_name">
          <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container> {{ row.item_name }} </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="qty">
          <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container> {{ row.qty }} </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="assigned">
          <mat-header-cell *matHeaderCellDef>Returned</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container> {{ row.assigned || 0 }} </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="remaining">
          <mat-header-cell *matHeaderCellDef>Remaining</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.remaining || 0 }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="has_serial_no">
          <mat-header-cell *matHeaderCellDef>Has Serial</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox
              class="example-margin"
              [(ngModel)]="row.has_serial_no"
              [disabled]="true"
            >
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="add_serial">
          <mat-header-cell *matHeaderCellDef>Add Serials</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ion-button
              [disabled]="row.remaining === 0"
              fill="outline"
              (click)="assignSerial(row)"
            >
              <ion-icon name="Add"></ion-icon>
            </ion-button>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="itemDisplayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row *matRowDef="let row; columns: itemDisplayedColumns"></mat-row>
      </mat-table>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-text color="tertiary"> Serials </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="example-container mat-elevation-z8 ion-no-padding">
      <mat-table #table [dataSource]="serialDataSource" style="width: 100%">
        <ng-container matColumnDef="sr_no">
          <mat-header-cell *matHeaderCellDef>SL </mat-header-cell>
          <mat-cell *matCellDef="let row;let i=index "> {{ i }} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="item_code">
          <mat-header-cell *matHeaderCellDef>Item Code</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container> {{ row.item_code }} </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="item_name">
          <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container> {{ row.item_name }} </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="qty">
          <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container> {{ row.qty }} </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="serial_no">
          <mat-header-cell *matHeaderCellDef>Serials</mat-header-cell>
          <mat-cell *matCellDef="let row;let i=index">
            <mat-container *ngIf="!row.has_serial_no"
              >Non Serial Item</mat-container
            >
            <input
              matInput
              style="border-bottom: 1px solid black"
              placeholder="Enter Serials"
              Serial
              (keyup.enter)="onSerialKepUp(i)"
              id="serials{{i}}"
              oninput="this.value = this.value.toUpperCase()"
              *ngIf="!row.serial_no[1]"
              [disabled]="row.serial_no[0] === 'Non Serial Item' ? true : false"
              [(ngModel)]="row.serial_no[0]"
            />
            <p *ngIf="row.serial_no.length === 1 ? false : true">
              {{ getSerialsInputValue(row) }}
            </p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef>Delete Serials</mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index">
            <ion-button color="danger" fill="clear" (click)="deleteRow(row, i)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="serialDisplayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: serialDisplayedColumns; let i = index"
        ></mat-row>
      </mat-table>
    </ion-card-content>
  </ion-card>
</ion-content>
