<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 24px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title"> Purchase Invoice </ion-title>
      </div>
      <div style="display: flex; gap: 5px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          target="_new"
          data-tooltip="Stock Availability"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
        <!-- <ion-buttons slot="end" *ngIf="invoiceName">
          <ion-button (click)="showJobs()" color="primary"> Jobs </ion-button>
        </ion-buttons> -->
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header class="ion-no-padding">
      <ion-segment
        [(ngModel)]="selectedSegment"
        scrollable="true"
        class="disable-scrollbars"
      >
        <ion-segment-button value="0">
          <ion-label>Details</ion-label>
        </ion-segment-button>
        <ion-segment-button
          value="1"
          *ngIf="(docstatus !== 2) && permissionState.purchase_receipt.active"
        >
          <ion-label>Serials</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>
  </ion-card>
  <div [ngSwitch]="selectedSegment">
    <purchase-details *ngSwitchCase="0"> </purchase-details>
    <purchase-assign-serials *ngSwitchCase="1"> </purchase-assign-serials>
  </div>
</ion-content>
