<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 1px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title"> Problems </ion-title>
      </div>
      <div style="display: flex; gap: 5px; margin-right: 23px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          data-tooltip="Stcok Availability"
          target="_new"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header id="width" style="padding: 4px 10px">
      <mat-grid-list
        cols="12"
        rowHeight="65px"
        (window:resize)="onResize($event)"
      >
        <mat-grid-tile [colspan]="firstColumn" style="background-color: 'red'">
          <ion-card-title class="flex">
            <ion-text color="tertiary"> Problems </ion-text>
            <!-- Filtar Button -->
          </ion-card-title>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="secondColumn">
          <mat-form-field
            style="
              margin-bottom: 5px;
              margin-top: 3px;
              padding-right: 9px;
              padding-left: 5px;
            "
            class="mat-input-wrapper"
          >
            <mat-label>Search</mat-label>
            <input
              matInput
              placeholder="Search"
              [(ngModel)]="search"
              (keyup.enter)="setFilter()"
            />
            <button mat-button matSuffix (click)="setFilter()">
              <mat-icon> search </mat-icon>
            </button>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="thirdColumn">
          <div style="width: 100%; display: flex; justify-content: flex-end">
            <ion-button
              fill="outline"
              class="tooltip"
              data-tooltip="Search"
              (click)="setFilter()"
            >
              <ion-icon name="search-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Search</span>
            </ion-button>
            <ion-button
              fill="outline"
              class="tooltip"
              data-tooltip="Add"
              (click)="addProblem()"
              ><ion-icon name="add-circle-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Add</span>
            </ion-button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </ion-card-header>
    <div class="loading-shade" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar
        *ngIf="dataSource.loading$ | async"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>
    <ion-card-content class="ion-no-padding">
      <div class="example-container mat-elevation-z8" id="problemTable">
        <div class="search-models" id="ProblemList"></div>
        <mat-table #table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="sr_no">
            <mat-header-cell *matHeaderCellDef> SL </mat-header-cell>
            <mat-cell *matCellDef="let row;let i=index ">
              {{ i + 1 }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="problem_name">
            <mat-header-cell *matHeaderCellDef> Problem </mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="updateProblem(row.uuid)">
              {{row.problem_name}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row " style="text-align: right">
              <ion-button
                (click)="deleteProblem(row.uuid)"
                fill="clear"
                class="ion-no-padding"
                color="danger"
              >
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <mat-card-actions>
        <mat-paginator
          #paginator
          class="mat-paginator-sticky"
          (page)="getUpdate($event)"
          [length]="dataSource.length"
          [pageSizeOptions]="[30, 50, 100, 500]"
        >
        </mat-paginator>
      </mat-card-actions>
    </ion-card-content>
  </ion-card>
</ion-content>
