ion-icon[slot='start'] {
  margin-right: 8px;
  color: var(--ion-color-primary);
}
.sidebar_menu {
  height: calc(100vh - 120px);
  overflow-y: auto;
}

#sidebar_menu {
  transition: 0.2s;
}

.open_menu_icon {
  display: none;
}

.menu_active {
  width: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
  .menu_heide_item {
    display: none !important;
  }

  .sidebar_menu {
    ion-label {
      display: none;
    }
  }

  .item-inner {
    padding: 0 !important;
  }

  ion-title {
    padding: 0 16px;
    text-align: center;
  }

  ion-list.ion-margin-start.ion-no-padding.ng-star-inserted.md.list-md.hydrated {
    margin-left: 0;
    position: relative;
    left: 10px;
  }

  .open_menu_icon {
    display: block !important;
  }
}

.menu_avatar {
  display: flex;
  align-items: center;

  border: 1px solid #ddd;
  background-color: var(--ion-color-primary);
  color: white;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;

  .avatar_image {
    display: flex;
    width: 40px;
    height: 40px;
    .ion_avatar {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  .name {
    font-size: 15px;
  }

  .log_out {
    margin-left: auto;
    padding: 0 !important;
    border-bottom: none;
  }
}

// Achem
.menu-icon-wraper {
  button {
    background-color: transparent;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    ion-icon {
      font-size: 25px !important;
    }
  }
}
.tooltip {
  position: relative;
  /* Ensure tooltip position relative to this element */ /* Show pointer cursor when hovering */
}

.tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 60px;
  left: 6px;

  transform: translateX(-50%);
  padding: 5px;
  background-color: var(--ion-color-primary);
  color: white;
  outline-color: var(--ion-color-primary);
  border-radius: 4px;
  font-size: 10px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  z-index: 2000 !important;
}

.tooltip:hover::before {
  visibility: visible;
  opacity: 1;
  z-index: 2000;
}

@media only screen and (max-width: 768px) {
  #sidebar_menu {
    transition: 0.2s;
  }
  .sidebar_menu {
    height: 83vh;
  }

  ::ng-deep .hide-scrollbar {
    overflow-y: hidden;
  }

  ::ng-deep .hide-scrollbar::-webkit-scrollbar {
    width: 0.5em;
  }

  ::ng-deep .hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

// responsive
@media (min-width: 768px) and (max-width: 1024px) {
  #sidebar_menu {
    transition: 0.2s;
  }
  .sidebar_menu {
    height: 89vh;
    overflow-y: auto;
  }
}

body {
  position: relative;
}

.side_indicator {
  position: absolute;
  top: 50%;
  left: 5px;
  appearance: none;
  border: 1px solid var(--ion-color-primary);
  color: var(--ion-color-primary);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

@media (max-width: 991px) {
  .side_indicator {
    display: flex;
  }
}
