<form style="width: 100%">
  <div class="mat-subtitle-1 ion-text-capitalize" *ngIf="passedFrom === 'add'">
    Add Terms and Conditions
  </div>
  <div
    class="mat-subtitle-1 ion-text-capitalize"
    *ngIf="passedFrom === 'update'"
  >
    Update Terms and Conditions
  </div>
  <mat-form-field style="height: 300px; overflow: auto">
    <mat-label>Terms and Conditions</mat-label>
    <textarea
      style="width: 100%"
      id="termsTextarea"
      type="text"
      matInput
      required
      placeholder="Terms and Conditions"
      [formControl]="termsAndConditionsFormControl"
    ></textarea>
    <mat-error *ngIf="termsAndConditionsFormControl.errors">
      Required!
    </mat-error>
  </mat-form-field>
  <div class="actions">
    <button mat-button type="button" color="primary" (click)="onCancel()">
      CANCEL
    </button>
    <button
      mat-button
      (click)="addTermsAndConditions()"
      color="primary"
      [disabled]="disableAction"
      *ngIf="passedFrom === 'add'"
    >
      ADD
    </button>
    <button
      mat-button
      (click)="updateTermsAndConditions()"
      color="primary"
      *ngIf="passedFrom === 'update'"
      [disabled]="disableAction"
    >
      UPDATE
    </button>
  </div>
</form>
<!-- </ion-content> -->
