ion-button {
  float: right;
}

#serial_quantity {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: ease-in-out 0.5s;
  &.active {
    height: auto;
  }
}

#QuantityClose {
  display: none;
}
