#stock_lebger {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: ease-in-out 0.5s;
  &.active {
    height: auto;
  }
}

#ledgerClose {
  display: none;
}

.mdc-data-table__cell {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(
    --mdc-typography-body2-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  font-size: 12px !important;
  line-height: var(--mdc-typography-body2-line-height, 20px);
  font-weight: var(--mdc-typography-body2-font-weight, 400);
  letter-spacing: var(--mdc-typography-body2-letter-spacing, 0.0178571429em);
  -webkit-text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
  text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
  text-transform: var(--mdc-typography-body2-text-transform, none);
}
.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 5px !important;
}
.example-container {
  height: 69vh;
}
