.add-comment {
  opacity: 0.4;
}

.fab-position {
  position: absolute;
  top: 10px;
  right: 0;
}

.footer {
  font-weight: bold;
}

.mat-column-delete {
  flex: 0 0 5%;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}

mat-footer-cell {
  display: flex;
  justify-content: center;
}

mat-header-row {
  display: flex;
  justify-content: center;
}
mat-footer-row {
  display: flex;
  justify-content: center;
}

mat-cell {
  display: flex;
  justify-content: center;
}
#StockEntryForm{
  margin-top: 15px !important;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .fab-position {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
  }
}


@media only screen and (max-width: 600px) {
  .sm_example-container {
    display: block;
    width: 100%;
    overflow: auto;
    height: 30vh;
  
    &::-webkit-scrollbar {
      width: 5px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #fff;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #f39b1f;
      border: 1px solid transparent;
      background-clip: content-box;
    }
  
    .mat-mdc-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
     
  
      mat-header-row.mat-mdc-header-row,
      mat-row.mat-mdc-row,
      mat-footer-row.mat-mdc-footer-cell {
        height: 45px;
      }
    }
  
    .mat-mdc-row,
    .mat-mdc-header-row,
    .mat-mdc-footer-row {
      display: table-row;
      height: 40px;
    }
  
    .mat-mdc-cell,
    .mat-mdc-header-cell,
    .mat-mdc-footer-cell {
      word-wrap: initial;
      display: table-cell;
      line-break: unset;
      width: auto;
      overflow: hidden;
      vertical-align: middle;
    }
  
    [class*='mat-column-'] {
      flex: 0 0 9% !important;
      min-width: 150px !important;
    }
  
    .mat-column-sr_no {
      flex: 0 0 5% !important;
      min-width: 60px !important;
    }
  }
}

