.footer {
  font-weight: bold;
}

.hash {
  font-size: 20px;
}

.return_title {
  display: flex;
  align-items: center;
}

#return_salse_filter {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: ease-in-out 0.5s;
  &.active {
    height: auto;
  }
}

#returnClose {
  display: none;
}

