ion-button {
  float: right;
}

#customarList {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  padding: 0;
  &.active {
    height: auto;
    padding: 10px 20px;
  }
}

#CustomersClose {
  display: none;
}
table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
th {
  background: var(--ion-color-primary);
  color: #ffffff;
  border: 1px solid #ccc;
  padding: 15px;
  text-align: 'center';
}

/* Style table cells */
td {
  border: 1px solid #ccc;
  color: black;
  padding: 15px;
  text-align: 'center';
}

/* Alternate row background color */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect on rows */
tr:hover {
  background-color: #ddd;
}
.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-modal {
  padding-left: 18rem;
}

@media only screen and (max-width: 1040px) {
  ion-modal {
    padding-left: 0px;
    --width: 70% !important;
  }
}

@media only screen and (max-width: 767px) {
  ion-modal {
    padding-left: 0px;
    --width: 100% !important;
  }
}

/* Add these styles to center the table cells */
#CustomersTable mat-cell,
#CustomersTable mat-header-cell {
  text-align: left !important;
}

/* Optionally, you can add styles to center the content within each cell */
#CustomersTable mat-cell ion-button,
#CustomersTable mat-cell a {
}

/* Center the ion-button text */
#CustomersTable mat-cell ion-button span {
  margin-left: 5px;
}
.color-black {
  color: black !important;
}
.space-between {
  display: flex !important;
  justify-content: space-between;
}
mat-header-row.mat-mdc-header-row.mdc-data-table__header-row.cdk-header-row.ng-star-inserted {
  position: sticky !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 100 !important;
}
