.footer {
  font-weight: bold;
}
.fab-position {
  position: absolute;
  top: 2px !important;
  right: 0 !important;
  height: 48px !important ;
  width: 47px !important;
}
.example-container {
  height: 30vh;
}
