
<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 35px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title"> View Bulk Warranty Claim </ion-title>
      </div>
      <div class="sm_flex_button">
        <ion-button
          class="add_button"
          [routerLink]="['/warranty/add-warranty-claim']"
        >
          <ion-icon  name="add-circle-outline"></ion-icon> &nbsp; <span class="sm_hide_text">Add Warranty Claim</span>
        </ion-button>
        <ion-button
          class="add_button"
          (click)="openSerialSearch()"
        >
          <ion-icon  name="barcode-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Serial Search</span>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header class="ion-no-padding">
      <ion-segment
        [(ngModel)]="selectedSegment"
        scrollable="true"
        class="disable-scrollbars"
      >
        <ion-segment-button value="0">
          <ion-label>Details</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-label>Service Invoice</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>
  </ion-card>
  <div [ngSwitch]="selectedSegment">
    <bulk-claim-details *ngSwitchCase="0"> </bulk-claim-details>
    <service-invoices *ngSwitchCase="1"></service-invoices>
  </div>
</ion-content>
