<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 7px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title">Credit Limit</ion-title>
      </div>
      <div style="display: flex; gap: 5px; margin-right: 23px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          data-tooltip="Stock Availability"
          class="add_button tooltip"
          target="_new"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <form [formGroup]="customerProfileForm">
      <ion-card-header style="padding: 0 15px">
        <mat-grid-list
          cols="12"
          rowHeight="75px"
          (window:resize)="onResize($event)"
        >
          <mat-grid-tile [colspan]="firstColumn">
            <ion-card-title class="flex">
              <ion-text color="tertiary"> Customers </ion-text>
              <!-- Filtar Button -->
            </ion-card-title>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="secondColumn">
            <mat-form-field
              class="mat-input-wrapper"
              style="margin-bottom: 0px; margin-top: 2px"
            >
              <mat-label>Customer</mat-label>
              <input
                matInput
                placeholder="Customer name"
                [matAutocomplete]="auto"
                formControlName="customer"
                (focusout)="validateInput(f.customer, filteredCustomerList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #auto="matAutocomplete"
                (optionSelected)="setFilter($event)"
              >
                <mat-option
                  *ngFor="let option of filteredCustomerList"
                  [value]="option.customer_name"
                >
                  {{ option.customer_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.customer.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.customer.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="thirdColumn" class="sm_left flex-between">
            <div style="width: 100%; display: flex; justify-content: flex-end">
              <ion-button
                class="tooltip"
                data-tooltip="Clear"
                (click)="clearFilters()"
                fill="outline"
              >
                <ion-icon name="close-outline"></ion-icon> &nbsp;
                <span class="sm_hide_text">Clear</span>
              </ion-button>
              <ion-button
                class="tooltip"
                data-tooltip="Search"
                fill="outline"
                (click)="setFilter($event)"
              >
                <ion-icon name="search-outline"></ion-icon> &nbsp;
                <span class="sm_hide_text">Search</span>
              </ion-button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </ion-card-header>
      <div class="loading-shade" *ngIf="dataSource.loading$ | async">
        <mat-progress-bar
          *ngIf="dataSource.loading$ | async"
          mode="indeterminate"
        ></mat-progress-bar>
      </div>
      <div class="">
        <div class="example-container mat-elevation-z8" id="CustomerTable">
          <div
            class="search-models"
            id="customarlList"
            style="padding: 0 15px"
          ></div>
          <table
            mat-table
            class="full-width"
            [dataSource]="dataSource"
            matSort
            aria-label="Elements"
          >
            <!-- Customer -->
            <ng-container matColumnDef="name">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header="name"
                (click)="setFilter()"
              >
                Customer ID
              </th>
              <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>

            <!-- Customer -->
            <ng-container matColumnDef="customer_name">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header="customer_name"
                (click)="setFilter()"
              >
                Customer Name
              </th>
              <td mat-cell *matCellDef="let row">{{row.customer_name}}</td>
            </ng-container>

            <!-- Credit Limits -->
            <ng-container matColumnDef="credit_limits">
              <th mat-header-cell *matHeaderCellDef>Extended Limit</th>
              <td mat-cell *matCellDef="let row">
                <ion-text *ngFor="let limit of row.credit_limits">
                  {{limit.credit_limit | curFormat | async}}
                </ion-text>
              </td>
            </ng-container>

            <!-- Extended Credit Limit -->
            <ng-container matColumnDef="extended_credit_limit">
              <th mat-header-cell *matHeaderCellDef>Base Credit Limit</th>
              <td mat-cell *matCellDef="let row">
                {{row.baseCreditLimitAmount ? (row.baseCreditLimitAmount |
                curFormat | async) : ''}}
              </td>
            </ng-container>

            <!-- Expiry Date -->
            <ng-container matColumnDef="expiry_date">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Expiry Date
              </th>
              <td class="ion-text-center" mat-cell *matCellDef="let row">
                <ion-text>
                  {{row.tempCreditLimitPeriod ? (row.tempCreditLimitPeriod |
                  date:'mediumDate') : ''}}
                  <div style="color: #2d62ae">
                    {{ row.creditLimitUpdatedOn | date:'mediumTime' }}
                  </div>
                </ion-text>
              </td>
            </ng-container>

            <!-- Set On -->
            <ng-container matColumnDef="set_on">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Set On
              </th>
              <td class="ion-text-center" mat-cell *matCellDef="let row">
                <ion-text>
                  {{row.creditLimitUpdatedOn ? (row.creditLimitUpdatedOn |
                  date:'mediumDate') : ''}}
                  <div style="color: #2d62ae">
                    {{ row.creditLimitUpdatedOn | date:'mediumTime' }}
                  </div>
                </ion-text>
              </td>
            </ng-container>

            <!-- Set By -->
            <ng-container matColumnDef="set_by">
              <th mat-header-cell *matHeaderCellDef>Set By</th>
              <td mat-cell *matCellDef="let row">
                <ion-text> {{row.creditLimitSetByFullName}} </ion-text>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr
              tabindex="0"
              mat-row
              (click)="updateCreditLimitDialog(row)"
              (keyup.enter)="updateCreditLimitDialog(row)"
              *matRowDef="let row; columns: displayedColumns;"
            ></tr>
          </table>
        </div>
        <mat-card-actions>
          <mat-paginator
            #paginator
            class="mat-paginator-sticky"
            (page)="getUpdate($event)"
            [length]="dataSource.length"
            [pageSizeOptions]="[30, 50, 100, 500]"
          >
          </mat-paginator>
        </mat-card-actions>
      </div>
    </form>
  </ion-card>
</ion-content>
