ion-button {
  float: right;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

mat-header-cell {
  flex-wrap: nowrap;
  min-width: 200px;
}

.mat-table thead,
mat-header-row,
[mat-header-row],
.mat-table-sticky {
  color: white;
}

#customarlList {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: ease-in-out 0.5s;
  &.active {
    height: auto;
  }
}

#CustomerClose {
  display: none;
}
