.date-filter-text {
  font-size: 0.7rem;
}

#warranty_claims {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: ease-in-out 0.5s;
  &.active {
    height: auto;
  }
}

.mat-table thead,
mat-header-row,
[mat-header-row],
.mat-table-sticky {
  background-color: #2d62ae;
}

#WarrantyClose {
  display: none;
}

#WarrantyFilterButton {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 3px 0 16px;
}

ion-row .sm_hide_text {
  display: none;
}
ion-row .tooltip {
  position: relative; /* Ensure tooltip position relative to this element */
  cursor: pointer; /* Show pointer cursor when hovering */
}

ion-row .tooltip::before {
  content: attr(
    data-tooltip
  ); /* Take the tooltip text from the data-tooltip attribute */
  position: absolute;
  top: 0%;
  right: 25px;
  transform: translateX(-50%);
  padding: 5px;
  background-color: var(--ion-color-primary);
  color: white;
  outline-color: var(--ion-color-primary);
  border-radius: 4px;
  font-size: 10px;
  white-space: nowrap;
  visibility: hidden; /* Hide the tooltip by default */
  opacity: 0; /* Fade-in animation effect */
  transition: visibility 0s, opacity 0.3s ease-in-out;
  z-index: 30 !important;
}

ion-row .tooltip:hover::before {
  visibility: visible; /* Show the tooltip on hover */
  opacity: 1;
  z-index: 30;
}
.example-container {
  height: 69vh;
}
// for tab
@media (min-width: 768px) and (max-width: 1023px) {
  .example-container {
    height: 63vh;
  }
}

// for mobile
@media only screen and (max-width: 767px) {
  .filter-height {
    height: 20vh;
  }
}
