<ion-header>
  <ion-toolbar style="padding: 0px 22px">
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title">Warranty Claims List</ion-title>
      </div>
      <div class="sm_flex_button">
        <ion-button
          data-tooltip="Add Warranty Claim"
          class="add_button tooltip"
          [routerLink]="['/warranty/add-warranty-claim']"
        >
          <ion-icon name="add-circle-outline"></ion-icon> &nbsp;
          <span class="sm_hide_text">Add Warranty Claim</span>
        </ion-button>
        <ion-button
          data-tooltip="Serial Search"
          class="add_button tooltip"
          (click)="openSerialSearch()"
        >
          <ion-icon name="barcode-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Serial Search</span>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <form [formGroup]="warrantyForm">
    <ion-card>
      <ion-card-header style="padding: 1px 13px; overflow: scroll">
        <ion-row class="align filter-height">
          <ion-col sizeLg="1.5" sizeMd="3">
            <ion-card-title class="flex">
              <ion-text
                class="title_header"
                style="min-width: 150px"
                color="tertiary"
              >
                Warranty Claims
              </ion-text>
              <!-- Filtar Button -->

              <!-- <button class="filter_button" (click)="warrantyClaims()">
                <mat-icon class="">sort</mat-icon>
                Filter
              </button> -->
            </ion-card-title>
          </ion-col>

          <ion-col sizeLg="1.5" sizeMd="3">
            <mat-form-field class="full-width">
              <mat-label>Customer</mat-label>
              <input
                matInput
                placeholder="Customer"
                [matAutocomplete]="customer"
                formControlName="customer_name"
                (focusout)="validateInput(f.customer_name, filteredCustomerList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #customer="matAutocomplete"
                [displayWith]="getCustomerOption"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredCustomerList | async"
                  [value]="option"
                >
                  {{ option.customer_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.customer_name.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.customer_name.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="1.5" sizeMd="3">
            <mat-form-field class="full-width">
              <mat-label>Claim No</mat-label>
              <input
                matInput
                formControlName="claim_no"
                placeholder="Claim No"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="1.5" sizeMd="3">
            <mat-form-field class="full-width">
              <mat-label>Third Party</mat-label>
              <input
                matInput
                formControlName="third_party_name"
                placeholder="Third Party"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="1.5" sizeMd="3">
            <mat-form-field class="full-width">
              <mat-label>Item</mat-label>
              <input
                matInput
                placeholder="Item"
                [matAutocomplete]="product"
                formControlName="product"
                (focusout)="validateInput(f.product, filteredProductList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #product="matAutocomplete"
                [displayWith]="getProductOption"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredProductList | async"
                  [value]="option"
                >
                  {{ option.item_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.product.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.product.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="1.5" sizeMd="3">
            <mat-form-field class="full-width">
              <mat-label>Brand</mat-label>
              <input
                matInput
                placeholder="Brand"
                [matAutocomplete]="brand"
                formControlName="brand"
                (focusout)="validateInput(f.brand, filteredBrandList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #brand="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredBrandList | async"
                  [value]="option"
                >
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.brand.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.brand.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>
          <!-- </ion-row>
        <ion-row class="align filter-height"> -->
          <ion-col sizeLg="1.5" sizeMd="3">
            <mat-form-field class="full-width">
              <mat-label>Claim Status</mat-label>
              <mat-select
                formControlName="claim_status"
                (selectionChange)="setFilter()"
              >
                <mat-option
                  *ngFor="let status of claimStatusList"
                  [value]="status"
                >
                  {{status}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="1.5" sizeMd="3">
            <mat-form-field class="full-width">
              <mat-label>Claim type</mat-label>
              <mat-select
                formControlName="claim_type"
                (selectionChange)="setFilter()"
              >
                <mat-option *ngFor="let claim of claimList" [value]="claim">
                  {{claim}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>
          <ion-col sizeLg="2" sizeMd="3">
            <mat-form-field class="full-width">
              <mat-label>Branch</mat-label>
              <input
                matInput
                placeholder="Branch"
                [matAutocomplete]="territory"
                formControlName="territory"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #territory="matAutocomplete"
                [displayWith]="getOption"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredTerritoryList | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2" sizeMd="3">
            <mat-form-field class="full-width">
              <mat-label>Serial Number</mat-label>
              <input
                matInput
                placeholder="Serial Number"
                formControlName="serial_no"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2" sizeMd="3">
            <mat-form-field class="full-width">
              <mat-label>Voucher No</mat-label>
              <input
                matInput
                placeholder="Voucher No"
                formControlName="voucher_no"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2" sizeMd="3">
            <mat-form-field class="full-width">
              <mat-label>Phone No</mat-label>
              <input
                matInput
                placeholder="Phone No"
                formControlName="third_party_contact"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2" sizeMd="3">
            <mat-form-field class="full-width">
              <mat-label>Replaced Serial Number</mat-label>
              <input
                matInput
                placeholder="Replaced Serial Number"
                formControlName="replace_serial"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2" sizeMd="3">
            <mat-form-field class="full-width">
              <mat-label>Received By</mat-label>
              <input
                matInput
                placeholder="Received By"
                formControlName="received_by"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2" sizeMd="6">
            <mat-form-field class="full-width">
              <mat-label>Delivered By</mat-label>
              <input
                matInput
                placeholder="Delivered By"
                formControlName="delivered_by"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2" sizeMd="6">
            <mat-form-field
              class="full-width"
              [ngClass]="{'tooltip':dateTooltip}"
              [attr.data-tooltip]="dateTooltip"
            >
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="date_range_picker">
                <input
                  readonly
                  matStartDate
                  placeholder="From Date"
                  formControlName="from_date"
                />
                <input
                  readonly
                  matEndDate
                  placeholder="To Date"
                  formControlName="to_date"
                  (dateChange)="setFilter()"
                />
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="date_range_picker">
              </mat-datepicker-toggle>
              <mat-date-range-picker
                #date_range_picker
                [disabled]="!this.f.date_type.value"
              >
              </mat-date-range-picker>
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2" sizeMd="7">
            <mat-form-field class="full-width">
              <mat-label>Date type</mat-label>
              <mat-select
                formControlName="date_type"
                (selectionChange)="setFilter()"
              >
                <mat-option
                  *ngFor="let dateType of dateTypeList"
                  [value]="dateType"
                >
                  {{dateType}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2" sizeMd="3">
            <mat-form-field class="full-width">
              <mat-label>Verdict Status By</mat-label>
              <input
                matInput
                formControlName="created_by"
                placeholder="Verdict Status By"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="1.5" sizeMd="3">
            <mat-form-field class="full-width">
              <mat-label>Verdict</mat-label>
              <mat-select
                formControlName="verdict"
                (selectionChange)="setFilter()"
              >
                <mat-option
                  *ngFor="let verdict of currentStatus"
                  [value]="verdict"
                >
                  {{verdict}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>

          <ion-col
            sizeLg="2.5"
            sizeMd="5"
            style="margin-top: 3px"
            class="ion-text-right"
          >
            <ion-button
              data-tooltip="Multiple claim"
              class="tooltip"
              color="tertiary"
              [fill]="multipleClaimFlag?'solid':'outline'"
              type="submit"
              (click)="getMultipleClaim()"
            >
              <ion-icon name="checkmark-done-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Multiple claim</span>
            </ion-button>
            <ion-button
              data-tooltip="Search"
              class="tooltip"
              color="tertiary"
              fill="outline"
              type="submit"
              (click)="setFilter()"
            >
              <ion-icon name="search-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Search</span>
            </ion-button>
            <ion-button
              data-tooltip="Clear"
              class="tooltip"
              (click)="clearFilters()"
              fill="outline"
            >
              <ion-icon name="close-circle-outline"></ion-icon>
              &nbsp;
              <span class="sm_hide_text">Clear</span>
            </ion-button>
            <ion-button
              data-tooltip="Bulk Claims"
              class="tooltip"
              [fill]="bulkFlag?'solid':'outline'"
              (click)="getBulkClaims()"
            >
              <ion-icon name="albums-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text"> Bulk Claims</span>
            </ion-button>
            <ion-button
              data-tooltip="Download Csv"
              class="tooltip"
              [disabled]="!dataSource.length"
              (click)="downloadSerials()"
              fill="outline"
            >
              <ion-icon name="cloud-download-outline"></ion-icon> &nbsp;<span
                class="sm_hide_text"
                >Download CSV</span
              >
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <div class="loading-shade" *ngIf="dataSource.loading$ | async">
        <mat-progress-bar
          *ngIf="dataSource.loading$ | async"
          mode="indeterminate"
        >
        </mat-progress-bar>
      </div>

      <ion-card-content class="ion-no-padding">
        <div style="margin: 0px" class="example-container mat-elevation-z8">
          <ion-grid style="padding: 0px 15px" id="warranty_claims"> </ion-grid>
          <mat-table
            class="full-width"
            matSort
            aria-label="Elements"
            [dataSource]="dataSource"
            (matSortChange)="getUpdate($event)"
          >
            <ng-container matColumnDef="sr_no">
              <mat-header-cell *matHeaderCellDef> SL </mat-header-cell>
              <mat-cell *matCellDef="let row;let i=index ">
                {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="claim_no">
              <mat-header-cell *matHeaderCellDef mat-sort-header="claim_no">
                Claim no
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <a
                  *ngIf="row.set==='Bulk'"
                  [routerLink]="['/bulk-warranty-claim', row.claim_no,row.uuid]"
                >
                  {{row.claim_no || 'Draft'}}
                </a>
                <a
                  *ngIf="row.set === 'Single' || row.set ==='Part'"
                  [routerLink]="['/warranty/view-warranty-claims', row.uuid]"
                >
                  {{row.claim_no || 'Draft'}}
                </a>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="claim_type">
              <mat-header-cell *matHeaderCellDef mat-sort-header="claim_type">
                Claim Type
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.claim_type }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="received_on">
              <mat-header-cell *matHeaderCellDef mat-sort-header="received_on">
                Received Date
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <!-- {{ row.received_on }} <br /> -->
                <!-- {{row.received_on && getDate(row.received_on )| date: 'd MMM, y' -->
                {{row.createdOn && getDate(row.createdOn )| date: 'd MMM, y' }}
                <br />
                <!-- <span style="color: #2d62ae">{{ timeFunc(row.received_on)}}</span> -->
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="customer_name">
              <mat-header-cell *matHeaderCellDef>
                Customer Name
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.customer }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="third_party_name">
              <mat-header-cell *matHeaderCellDef>
                Third Party Customer
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{row.third_party_name}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="item_code">
              <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.item_code }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="claimed_serial">
              <mat-header-cell *matHeaderCellDef>
                Claimed Serial
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.serial_no }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="claim_status">
              <mat-header-cell *matHeaderCellDef>
                Claim Status
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.claim_status }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="receiving_branch">
              <mat-header-cell *matHeaderCellDef>
                Receiving Branch
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.receiving_branch }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="delivery_branch">
              <mat-header-cell *matHeaderCellDef>
                Delivery Branch
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.delivery_branch }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="received_by">
              <mat-header-cell *matHeaderCellDef> Received By </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.received_by }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="delivered_by">
              <mat-header-cell *matHeaderCellDef>
                Delivered by
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.delivered_by }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="product_brand">
              <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.product_brand }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="replace_serial">
              <mat-header-cell *matHeaderCellDef>
                Replaced Serial
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.replace_serial }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="problem">
              <mat-header-cell *matHeaderCellDef> Problem </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.problem }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="verdict">
              <mat-header-cell *matHeaderCellDef> Verdict </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{
                row.status_history?row.status_history[row.status_history.length-1].verdict:''
                }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="delivery_date">
              <mat-header-cell *matHeaderCellDef>
                Delivery Date
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <!-- {{ row.delivery_date }} -->
                {{ row.delivery_date && getDate(row.delivery_date )| date: 'd
                MMM, y' }} <br />
                <!-- <span style="color: #2d62ae">{{ timeFunc(row.posting_time) }}</span> -->
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="billed_amount">
              <mat-header-cell *matHeaderCellDef>
                Billed Amount
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.billed_amount }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="outstanding_amount">
              <mat-header-cell *matHeaderCellDef>
                Outstanding Amount
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.outstanding_amount }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="remarks">
              <mat-header-cell *matHeaderCellDef> Remarks </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.remarks }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
            </mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumns;"
              [ngStyle]="{
                'background-color':row.claim_status==='Cancelled' ? '#F8DEDE' : 
                row.set==='Bulk' ? '#F4F4FB' :
                row.set==='Part' ? '#FDFAE5' : 'rgb(255, 255, 255)'
              }"
            >
            </mat-row>
          </mat-table>
        </div>
        <mat-card-actions>
          <mat-paginator
            #paginator
            [pageSizeOptions]="[30, 50, 100, 500]"
            class=""
            (page)="getUpdate($event)"
            [length]="dataSource.length"
          >
          </mat-paginator>
        </mat-card-actions>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
