<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 5px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title">Terms and Conditions</ion-title>
      </div>
      <div style="display: flex; gap: 5px; margin-right: 23px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          data-tooltip="Stock Availability"
          class="tooltip"
          target="_new"
          color="red"
          class="add_button"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header style="padding: 6px 15px">
      <mat-grid-list
        cols="12"
        rowHeight="55px"
        (window:resize)="onResize($event)"
      >
        <mat-grid-tile [colspan]="firstColumn">
          <ion-card-title class="flex">
            <ion-text color="tertiary"> Terms and Conditions </ion-text>
            <!-- Filtar Button -->
          </ion-card-title>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="secondColumn">
          <mat-form-field style="" class="mat-input-wrapper">
            <mat-label>Search</mat-label>
            <input
              matInput
              placeholder="Search"
              [(ngModel)]="search"
              (keyup.enter)="setFilter()"
            />
            <button mat-button matSuffix (click)="setFilter()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="thirdColumn">
          <div style="width: 100%; display: flex; justify-content: flex-end">
            <ion-button
              fill="outline"
              class="tooltip"
              data-tooltip="Search"
              (click)="setFilter()"
            >
              <ion-icon name="search-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Search</span>
            </ion-button>
            <ion-button
              fill="outline"
              class="tooltip"
              data-tooltip="Add"
              (click)="addTermsAndConditions()"
            >
              <ion-icon name="add-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Add</span>
            </ion-button>
          </div>
        </mat-grid-tile>
        <!-- <ion-col sizeMd="1.5" sizeLg="1.5" class="ion-text-right">
          <div style="display: flex">
            <ion-button fill="outline" class="tooltip" data-tooltip="Search">
              <ion-icon name="search-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Search</span>
            </ion-button>
          
          </div>
        </ion-col> -->
      </mat-grid-list>
    </ion-card-header>
    <div class="loading-shade" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar
        *ngIf="dataSource.loading$ | async"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>
    <ion-card-content class="ion-no-padding">
      <div class="example-container mat-elevation-z8" id="tramsTable">
        <div
          style="padding-top: 3px"
          class="search-models"
          id="tramaAndCondation"
        ></div>
        <mat-table #table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="sr_no">
            <mat-header-cell *matHeaderCellDef> SL </mat-header-cell>
            <mat-cell *matCellDef="let row;let i=index "> {{i+1}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="terms_and_conditions_name">
            <mat-header-cell *matHeaderCellDef>
              Terms and Conditions
            </mat-header-cell>
            <mat-cell
              *matCellDef="let row"
              (click)="updateTermsAndConditions(row.uuid)"
            >
              {{row.terms_and_conditions}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row " style="text-align: right">
              <ion-button
                (click)="deleteTermsAndConditions(row.uuid)"
                fill="clear"
                class="ion-no-padding"
                color="danger"
              >
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <mat-card-actions>
        <mat-paginator
          #paginator
          class="mat-paginator-sticky"
          (page)="setFilter($event)"
          [length]="dataSource.length"
          [pageSizeOptions]="[30, 50, 100, 500]"
        >
        </mat-paginator>
      </mat-card-actions>
    </ion-card-content>
  </ion-card>
</ion-content>
